<!DOCTYPE html>
<html>
    <%- include('../../partials/title.ejs') %>
    <body class="w3-content" style="max-width:1200px">
        <%- include('../../partials/slidebar_admin.ejs') %>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>
    
        <%- include('../../partials/header_admin.ejs') %>

    <!-- Area admin -->


<table>
  <tr>
    <th>Nama</th>
    <th>Email</th>
    <th>gender</th>
    <th>phone</th>
    <th>status</th>
  </tr>


  <% for(let i = 0; i < data.length; i++){ %>
    <% if (data[i].Transactions.length > 0 ) { %>
        <% if(data[i].Transactions[data[i].Transactions.length -1].status === 'paid'){ %>

      <tr>
        <td><%=data[i].name%></td>
        <td><%=data[i].email%></td>
        <td><%=data[i].gender%></td>
        <td><%=data[i].phone%></td>
          <td><a href="/admin/<%=data[i].id%>/detail">Accept Order</a></td>
      </tr>
        <% } %>
      
    <% } %>
<% } %>
</table>




    
    <!-- End page content -->
    </div>

    <%- include('../../partials/script.ejs')%>
    </body>
</html>
