<!DOCTYPE html>
<html>
    <%- include('../../partials/title.ejs') %>
    <body class="w3-content" style="max-width:1200px">
        <%- include('../../partials/slidebar_admin.ejs') %>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>
    
        <%- include('../../partials/header.ejs') %>

    <!-- Area admin -->


<table>
  <tr>
    <th>Nama</th>
    <th>Harga</th>
    <th>Deskripsi</th>
    <th>gambar</th>
    <th>detail</th>
  </tr>
  <% for(let i = 0; i < data.length; i++){ %>
    <tr>
      <td><%=data[i].name%></td>
      <td><%=data[i].price%></td>
      <td><%=data[i].description%></td>
      <td> <img src="../products/shoes/<%=data[i].picture%>" style="width:100%">  </td>
      <td><a href="/admin/product/<%=data[i].name%>/detail">detail</a></td>
    </tr>
  <% } %>
</table>




    
    <!-- End page content -->
    </div>

    <%- include('../../partials/script.ejs')%>
    </body>
</html>
